@media only screen and (max-width: 1010px) {

/*Header Area*/
header {padding: 0 25px;}

// .header_con {min-height: 0;padding: 0;}

/*Virtual Area*/
.virtual_area {padding: 0 25px;}




/*Home Section Area*/
.home_section {padding: 0 25px;}


/*Editorial Section Area*/
.editorial_area {padding: 0 25px;}

/*Bottom1 Area*/
.btm1_area {padding: 0 25px;}

/*Bottom2 Area*/
.btm2_area {padding: 0 25px;}

.footer_top{padding: 0 25px;}
.footer_btm{padding: 0 25px;}

}