/*Fonts Used*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:not([type=radio]):not([type=checkbox]), textarea, select {
  -webkit-appearance: none;
}

form, label {
  -webkit-text-size-adjust: 100%;
}

mark {
  background-color: transparent;
  color: inherit;
}

/* end reset */
/*
font-family: 'Lato', sans-serif; */
/*preset*/
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body.active {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed !important;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

textarea {
  resize: vertical;
}

iframe {
  border: none;
  width: 100%;
}

ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

input[type=submit] {
  cursor: pointer;
}

a[href^="tel:"] {
  color: inherit !important;
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.comp {
  color: #d00000;
  font-weight: bold;
}

.comingsoon {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.col2 {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.col3 {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.col2 li, .col3 li {
  display: inline-block;
  width: 100%;
}

.main_phone {
  font-weight: bold;
}

.back_top {
  display: none;
  background: #ffd500;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.back_top:before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-bottom: 15px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.back_top:hover {
  opacity: 0.7;
}

/*Heading for SEO*/
.h1_hdng {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr {
  float: left;
  margin: -4px 19px 10px 0;
}

.thumb_right_dd, .thumb_right_dr {
  float: right;
  margin: -4px 0 10px 19px;
}

.thumb_center_dd, .thumb_center_dr {
  display: block;
  margin: 10px auto;
}

/* Text Alignment */
.text_left, .text_left p {
  text-align: left;
}

.text_right, .text_right p {
  text-align: right;
}

.text_center, .text_center p {
  text-align: center;
  display: block;
}

/* Forms Presets */
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

:-moz-placeholder {
  opacity: 1;
  color: inherit;
}

/*end preset*/
.wrapper {
  width: 100%;
  max-width: 1374px;
  margin: 0 auto;
  position: relative;
}

/*header*/
header {
  background: url("assets/images/banner/banner.png");
}

.header_con {
  min-height: 213px;
}

.main_logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=style.css.map */